.vscode/
BigEx1/
debug/
ex2/
Helloworld/

L3_POINTER/*.exe
!L5_Goto - setjmp/ex1
!L5_Goto - setjmp/ex2
L05_Extern - Static - Volatile/

L08_Struct Union/
L09_JSON/
L10_Linked List/
L11_Stack Queue/
L12_BinarySearch_File_CodeStander/
L13_Class/
L14_OOP/
L15_Vector-List/
L16_STL/
L17_Smart Pointer - Lambda/

*.docx